
<div class="row">
    <div class="col-12">
      <div class="card">
          <div class="card-body">
              <form [formGroup]="reset_form" >
                <div class="form-group">
                  <label>Create New Password</label>
                  <input type="text" class="form-control" name="create_password" formControlName="create_password" [(ngModel)]="reset_form_data.create_password" required >
                
                </div>
              
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="confirm_password" formControlName="confirm_password" [(ngModel)]="reset_form_data.confirm_password">
                    <!-- <div class="cust_err_msg" >
                        <span *ngIf="reset_form.controls['conf'].errors['mismatch']"
                          class="text-danger">Confirm password must match with password.</span>
                      </div> -->
                   
                </div>
                
                <div class="form-group">
                    <button class="btn btn-primary" (click)="reset_password()" [disabled]="show_spinner">Submit <i class="fa fa-spinner fa-spin" *ngIf="show_spinner"></i></button>
                    <!--  -->
                </div>
              </form>
      </div>
    </div>
  </div>