<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <title>Neolth</title>
</head>

<body>
    <table style="margin:0; padding:0; background:#F8F9FD; border:0; width:100%; border-spacing:0;">
        <tr>
            <td style="text-align:center; border-spacing:0;">
                <table style="margin:0 auto; padding:0; background:#F8F9FD; border:0; width:100%; border-spacing:0;">
                    <tr>
                        <td style="border-radius:10px 10px 0 0; background:#839269; padding:15px; text-align:center;"><a
                                href="" style="display:block;"><img style="vertical-align:top;" src="" alt="" /></a></td>
                    </tr>
                    <tr>
                        <td>
                            <table style="margin:0; padding:0 10%; background:#fff; border:0; width:100%; border-spacing: 0;">
                                <tr>
                                    <td style="padding:53px 0 11px; text-align:left; font-size:14px; color:#323B61; line-height:50px; font-family:'Open Sans'; font-weight:700; letter-spacing:0.05em; ">
                                        Hi, </td>
                                </tr>
                                <tr>
                                    <td style="padding:0 0 20px; text-align:left; font-size:15px; color:#323B61; line-height:22px; font-family:'Open Sans'; font-weight:400;">

                                        Welcome to the Neolth Platform.
                                        Thank you for expressing your interest to grow your business with us!
                                        One more step to go!
                                    </td>
                                </tr>

                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td style="background:#F5F5F5;  vertical-align:top; padding:0;">
                            <table style="margin:0 auto; padding:32px 0 23px; background:#F8F9FD; border:0; width:100%; border-spacing:0;">

                                <tr>
                                    <td style="font-family:'Open Sans'; font-size:11px; color:#7a7d88; font-weight:400; padding:0; letter-spacing:0.05em; line-height:16px;">©
                                        2019 Neolth. All Rights Reserved.</td>
                                </tr>
                                <tr>
                                    <td style="font-family:'Open Sans'; font-size:11px; color:#323B61; font-weight:700; padding:0; letter-spacing:0.05em; line-height:16px;">lorem@neolth.com.au
                                        | +61 491 570 157</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>